//veriables
$orange: #ff6709;
$gray:#616161;
$box-shadow:0 8px 16px rgba(0,0,0,0.18);
$font:'Proxima Nova', Georgia, sans-serif;


// syle
body {
  font-family:$font;
}

.container{
  width: 94%;
}

a {
  display: inline-block;
  transition: all .2s linear;

  &:focus {
    background-color: transparent !important;
    color:#fff;
  }
}

.top-header .nav li {
  border-right: 1px solid #424242;
  margin: 9px 0px;
  font-size: 12px;
}

.nav li a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar {
    border-radius: 0px !important;
    min-height: 0px;
    margin-bottom: 0px;
}

.left-nav:first-child {
    margin-left: -15px;
}

.right-nav {
  float: right;
}

.nav li:last-child {
  border-right: none;
}

.fade_carousel {
  top:-93px;
  // z-index: -2;
  .carousel-caption {
    max-width: 500px;
    text-align: left;
    left: 17%!important;

    h3 {
      font: 100 64px $font;
    }

    .descp {
      width:100%;
      color:#fff;
    }

    a {
      width: 42%;
      border: 1px solid;
      background-color: transparent;
      padding: 10px 30px;
      transition: all .5s linear;
      border-radius: 0px;
      color:#000;

      &:hover {
        background-color: #000;
        color:#fff;
        border-color: #000;
      }
    }
  }
}

.c-black {
  font-weight: 100 !important;
}

.site-navigation {
  position: relative;
  // left: 8.8%;
  z-index: 2;
  background-color: transparent;

    .offer_gif {
      display: inline-block;
      vertical-align: top;
      margin-top: 10px;
    }

    .logo {
      width: 5%;
      overflow: hidden;
      display: inline-block;
      a {
        margin-left: -55px;
        transition: all .2s linear;

        &:hover {
          margin-left: 0px;
        }
      }
  }

  ul {
    float: right;
    display: inline-block;
    margin: 31px 0px;

    li {
      margin-right: 11px;
      a {
        font: 600 14px $font;
        color: #fff;
        transition: all .2s linear;
        padding-left: 23px;

        &:hover {
          background-color: transparent;
          color:#ff6709;
        }
      }
    }
  }
}

.cart_li {
  position: relative;
}

.cart_li:hover .hid-text{
  display: block;
  transition: all .2s linear;
}

.cart_li:hover {
  background-color: #fff !important;
  color: $orange !important;
}

.cart_li a:hover {
  color: $orange!important;
  background-color: #fff !important;
}

.hid-text {
  width: 322px;
  padding: 37px 113px;
  position: absolute;
  top:19px;
  right: 0%;
  display: none;
  color:$gray;
  z-index: 4;
  background-color: #fff;
}

.main {
  margin-top: -90px;
}

.product a {
  display: inline-block;

  &:hover {
    box-shadow: $box-shadow;
  }
}

.product_grid {
  margin-top: 18px;
  margin-bottom: 44px;

  .middle {
    margin: 0 0;
  }

  img {
    width: 372px;
  }
}

.star_product_section {
  text-align:center;
  margin-bottom: 30px;
}

.product_img_grid {
  margin-bottom: 30px;

  a {
    display: inline-block;
    &:hover {
      box-shadow: $box-shadow;
    }
  }

  img {
    width: 100%;
  }

  .wide_img {
    padding-left: 3%;
  }

  .product_cat {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.product_reviews {
  margin: 30px 0;

  .p_head {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: $gray;
    margin: 10px 0;
  }
  .span_head {
    display: block;
    font-weight: 600;
    color:#b0b0b0;
    margin-bottom: 10px;
  }
  .p_name {
    margin-right: 8%;
    font-size: 14px;
    font-weight: 600;
    color: $gray;
  }
  .price {
    @extend .p_name;
    color: $orange;
  }
  .reviews {
    transition: all .2s linear;
    padding-bottom: 30px;

    img { width: 100%; }

    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

.hd_section {
  display: inline-block;
  color: $gray;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: 100;
  font-size: 30px;
}

.hd_line {
  width: 344px;
  height:1px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: #e0e0e0;
}

.section_head {
  text-align: center;
}

.video_section {
  margin: 30px 0;

  .J_video:hover .icon-play {
    background-color: rgba(255, 255, 255, 0.55);
  }

  img {
    width: 100%;
  }

  .descp {
    width: 77%;
    position: absolute;
    top: 224px;
    margin: 0 35px;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-style: italic;
  }
  .icon-play{
    position: absolute;
    z-index: 6;
    left: 146px;
    top:0;
    width: 88px;
    height: 88px;
    margin: 100px auto 0;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;

    &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent #fff;
    }
  }
}

#productCarousel {
  text-align: center;
  margin-top: 30px;
  img {
    width: 100%;
    height: 600px;
  }
  .carousel-caption {
    width: 55%;
    margin:174px auto;
    font-size: 16px;
      h3{
        font: 100 48px $font;
        line-height: 1;
      }
      p {
        margin: 35px auto 12px;
        line-height: 1.875;
      }

      a {
        display: block;
        color:#fff;
        text-decoration: underline;
        line-height: 2.875;
      }

      .wh_line {
        width: 10%;
        margin: 34px auto;
        height: 2px;
        background-color: #fff;
        display: block;
      }
  }
}

.indicators {
  background-color: #f5f5f5;

  .carousel-indicators {
    position:relative;
    top:4px;
    padding: 33px;

    li {
      border:none;
      background-color: #ccc;
      margin:7px;

      &:active {
        border: 2px solid #ff6709;
      }
    }
    .active {
      border: 2px solid #ff6709;
    }
  }
}

.service_section {
  margin-bottom: 30px;
  a:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .left_icon {
    display: inline-block;
    margin-right: 20px;
  }

  .rt_text {
    display: inline-block;
    vertical-align: middle;

    h4 {
      font-weight: 600;
      font-size: 14px;
      color: #424242;
    }

    span {
      @extend h4;
      color: #b9b0b0;
    }
  }
}

.contact_section {
  background-color: #f5f5f5;
  padding: 30px 0;

  span {
    font-size: 12px;
  }
  h4 {
    font-weight: 600;
  }

  .contact_left {
    display: inline-block;
    width: 45%;
  }

  .contact_right {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-left: 12%;
  }

  .input_email, .social_icon {
    margin-top: 20px;
  }

  .input_email input {
    width: 100%;
    padding: 7px 10px;
  }

  .input_email button {
    border: none;
    position: absolute;
    right: 15px;
    top: 11px;
    background-color: transparent;
    color:#b0b0b0;
    font-size: 9px;
  }

  .social_icon {
    a {
      margin-left: 17%;
      color: #b0b0b0;
      font-size: 18px;

      &:hover {
        color:$gray;
      }
    }
  }
}

footer {
  background-color: #212121;
  color: #b0b0b0;
  padding: 30px 0;

  .footer_links {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(176, 176, 176, 0.24);
  }

  h4 {
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
  }

  a {
    display: block;
    line-height: 30px;
    font-size:14px;
    color: #b0b0b0;
    &:hover {
      color:#fff;
      text-decoration: none;
    }
  }

  .help_contact {
    margin-top: 20px;
    text-align: center;

      .cont_number {
        display: block;
        font: 700 24px 'Avenir Next Condensed', Arial, sans-serif;
      }

      .cont_text {
        font-size: 12px;
      }

      .chat_box {
        padding: 5px 10px;
        border: 1px solid #fff;
        margin-top: 10px;
        &:hover {
          background-color: #fff!important;
          color: #212121;
          text-decoration: none;
        }
      }
    }

    .footer_bottom {
      margin-top:25px;
      .copyright_cont {
        display: inline-block;
        width: 50%;
      }
      .location_change {
        width: 49%;
        display: inline-block;
        text-align: right;
      }
    }
}

.curtain_hidden {
  display: none;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
}

.hover_toggle:hover .container {
  background-color: #fff;
}

.hover_toggle:hover .curtain_hidden {
  display: block;
}

.site-navigation .container {
  position: relative;
    .hamberger_menu {
      display: none;
    }
}

.hd_section {
  text-align: center;
}

.chat_box:focus {
  text-decoration: none;
}
 .prev_fade {
   display: inline-block;
   height: 88px;
   width: 43px;
   background: url(../images/icon-slide-nav2.png) no-repeat;
   background-position: 0px;
   top: 238px;
   position: absolute;
 }

 .next_fade {
   @extend .prev_fade;
   background-position: -55px;
 }

 // carousel-fade style
 .carousel-fade {
     .carousel-inner {
         .item {
             transition-property: opacity;
         }

         .item,
         .active.left,
         .active.right {
             opacity: 0;
         }

         .active,
         .next.left,
         .prev.right {
             opacity: 1;
         }

         .next,
         .prev,
         .active.left,
         .active.right {
             left: 0;
             transform: translate3d(0, 0, 0);
         }
     }


     .prev {
      display: inline-block;
      height: 50px;
      width: 43px;
      background: url(../images/icon-slide-nav1.png) no-repeat;
      background-position: 0px;
      bottom: 51%;
      position: absolute;
     }

     .next {
       @extend .prev;
       background-position: -42px;
     }
 }
.carousel-control:focus, .carousel-control:hover {
  opacity: 1;
  text-decoration: none;
  color: transparent;
  outline: none;
}

.carousel-control.left, .carousel-control.right {
  background: none!important;
}
// media query
@media screen and (max-width:1200px) {

  .site-navigation {
    .container {
      position: relative;

        .logo {
          a {
            margin-left:-100%;
          &:hover {
          margin-left: -100%;
          }
          img { width:100%; }
        }
      }
    }
    .navbar-nav {
      display: none;
      position: absolute;
      right: 0;
      z-index: 10;
      text-align: right;
      top:40px;

      li {
        width: 100%;
        float: none;
        margin: 10px 0;
      }
    }
  }
  .hamberger_menu {
    display: inline-block !important;
    float: right;
    margin-top: 30px;
  }

  .product img {
    width:100%;
  }

  .hd_line {
    display: none;
  }
  .hd_section {
    text-align: center;
  }

  .video_section {
    .icon-play {
      top:-30px;
      left:113px;
    }

    .descp {
      top:172px;
      font-size: 1.4rem;
    }
  }

  .fade_carousel {
    top:0px;
    margin-bottom: 85px;
    .carousel-caption {
      .title {
        font-size: 5.4rem;
      }
    }
  }
}

@media screen and (max-width:992px) {
.video_section {
  text-align: center;
  .col-sm-4 {
      .icon-play {
        top: 33px;
        left:43%;
      }
      .descp {
        top:226px;
        left: 42px;
      }
    }
  }

  .contact_section .social_icon a {
    margin-left: 10%;
  }
}

@media screen and (max-width:767px) {
  .product {
    width: 100%;
    text-align: center;
    margin-bottom: 10px !important;
  }

  .left-nav {
    display: inline-block;
    li {
      border-right:none !important;
    }
  }

  .right-nav {
    // float: none;
    li {
      border-right:none !important;
    }
  }

  .reviews {
    margin-bottom: 10px;
  }

  .video_section div {
    margin-bottom: 10px;

    .icon-play {
      left:40%;
    }

    .descp {
      top:200px;
      font-size: 2rem;
    }
  }

  #myCarousel {
    .carousel-caption {
      .title {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  #productCarousel {
    .carousel-inner
      {
        h3 {
          font-size: 2.5rem;
        }
        .wh_line {
            margin: 16px auto;
        }
        p {
          margin: 16px auto 12px;
          line-height: 1;
        }
      }

      .service_section {
        text-align: center;

        .col-sm-4 {
          margin-bottom: 20px;
        }
      }

    .title {
      font-size: 1.4rem;
    }
  }
}
